[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "site-lisp/ido-ubiquitous"]
	path = site-lisp/ido-ubiquitous
	url = https://github.com/DarwinAwardWinner/ido-ubiquitous.git
[submodule "site-lisp/idle-highlight-mode"]
	path = site-lisp/idle-highlight-mode
	url = https://github.com/nonsequitur/idle-highlight-mode.git
[submodule "site-lisp/smex"]
	path = site-lisp/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "site-lisp/gist"]
	path = site-lisp/gist
	url = https://github.com/defunkt/gist.el.git
[submodule "site-lisp/ace-jump-mode"]
	path = site-lisp/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "site-lisp/haml-mode"]
	path = site-lisp/haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule "site-lisp/nimrod-mode"]
	path = site-lisp/nimrod-mode
	url = git://github.com/boredomist/nimrod-mode.git
[submodule "site-lisp/rainbow-delimiters"]
	path = site-lisp/rainbow-delimiters
	url = git://github.com/jlr/rainbow-delimiters.git
[submodule "site-lisp/ZNC.el"]
	path = site-lisp/ZNC.el
	url = https://github.com/sshirokov/ZNC.el.git
[submodule "site-lisp/erc-hl-nicks"]
	path = site-lisp/erc-hl-nicks
	url = https://github.com/leathekd/erc-hl-nicks.git
[submodule "site-lisp/expand-region"]
	path = site-lisp/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "site-lisp/change-inner"]
	path = site-lisp/change-inner
	url = https://github.com/magnars/change-inner.el.git
[submodule "site-lisp/multiple-cursors"]
	path = site-lisp/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "site-lisp/emacs-git-gutter"]
	path = site-lisp/emacs-git-gutter
	url = https://github.com/syohex/emacs-git-gutter.git
[submodule "site-lisp/autocomplete"]
	path = site-lisp/autocomplete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "site-lisp/popup"]
	path = site-lisp/popup
	url = https://github.com/auto-complete/popup-el.git
